**/__pycache__
/checkpoint/
/data/
/log/
/sample/
/tensorlayer/
/test_edge/
/_deprecated/
/delete.py
/grads_and_vars
/main_dataset.py
/main_read_partial.py
/**/test*.py
/train_dfe.py
/train+.py
/*.txt
/config/
/*.exe